body{
    font-family: sans-serif;
    text-align: center;
}

#galleryContainer{
    display: grid;
    grid-template-columns: repeat(auto-fir, minmax(250x, 1fr));
    gap: 16px;
    padding: 20%;
}
#galleryContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}